################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/appHardTech/obj/Debug/appHardTech.csproj.AssemblyReference.cache
