################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appHardTech/obj/Debug/appHardTech.csproj.AssemblyReference.cache
/.vs/appHardTech/config/applicationhost.config
/appHardTech/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
